In [146]:
import pandas as pd
import numpy as np

## Load Data

In [147]:
data = pd.read_csv("Best_Books_Ever.csv")
print(data.columns)
# data

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price'],
      dtype='object')

## Drop Unnecesary Columns And Change NaN to self-concluding when a book doesnt belong to a serie

In [148]:
data_col_dropped = data.drop("characters", axis=1).drop("numRatings", axis=1).drop("publisher", axis=1).drop("bbeScore", axis=1).drop("bbeVotes", axis=1).drop("bookFormat", axis=1).drop("firstPublishDate", axis=1).drop("description", axis=1).drop("bookId", axis=1).drop("isbn", axis=1).drop("edition", axis=1).drop("awards", axis=1).drop("ratingsByStars", axis=1).drop("setting", axis=1).drop("coverImg", axis=1)
data_col_dropped["series"] = data_col_dropped["series"].fillna('self-concluding')
data_col_dropped

,title,series,author,rating,language,genres,pages,publishDate,likedPercent,price
0,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,09/14/08,96.0,5.09
1,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",870,09/28/04,98.0,7.38
2,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,English,"['Classics', 'Fiction', 'Historical Fiction', ...",324,05/23/06,95.0,NaN
3,Pride and Prejudice,self-concluding,"Jane Austen, Anna Quindlen (Introduction)",4.26,English,"['Classics', 'Fiction', 'Romance', 'Historical...",279,10/10/00,94.0,NaN
4,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",501,09/06/06,78.0,2.1
...,...,...,...,...,...,...,...,...,...,...
52473,Fractured,Fateful #2,Cheri Schmidt (Goodreads Author),4.00,English,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",0,May 28th 2011,94.0,NaN
52474,Anasazi,Sense of Truth #2,Emma Michaels,4.19,English,"['Mystery', 'Young Adult']",190,August 5th 2011,95.0,NaN
52475,Marked,Soul Guardians #1,Kim Richardson (Goodreads Author),3.70,English,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",280,March 18th 2011,84.0,7.37
52476,Wayward Son,self-concluding,"Tom Pollack (Goodreads Author), John Loftus (G...",3.85,English,"['Fiction', 'Mystery', 'Historical Fiction', '...",507,September 1st 2011,90.0,2.86
52477,Daughter of Helaman,Stripling Warrior #1,Misty Moncur (Goodreads Author),4.02,English,"['Lds Fiction', 'Historical Fiction', 'Young A...",201,May 8th 2011,90.0,5.20

## Simple Query to search by author

In [149]:
data_col_dropped[data_col_dropped["author"].str.contains("Patrick Rothfuss", case=False, na=False)].sort_values("likedPercent", ascending=False)

,title,series,author,rating,language,genres,pages,publishDate,likedPercent,price
308,The Wise Man's Fear,The Kingkiller Chronicle #2,Patrick Rothfuss (Goodreads Author),4.56,English,"['Fantasy', 'Fiction', 'Epic Fantasy', 'High F...",994,03/01/11,98.0,16.37
15033,O Medo do Homem Sábio - Parte 1,"The Kingkiller Chronicle #2, Part 1 of 2","Patrick Rothfuss (Goodreads Author), Renato Ca...",4.52,Portuguese,"['Fantasy', 'High Fantasy', 'Epic Fantasy', 'F...",703,September 21st 2011,98.0,254.45
15429,O Medo do Homem Sábio - Parte 2,"The Kingkiller Chronicle #2, Part 2 of 2","Patrick Rothfuss (Goodreads Author), Renato Ca...",4.48,Portuguese,"['Fantasy', 'High Fantasy', 'Epic Fantasy', 'F...",684,November 28th 2011,97.0,254.45
110,The Name of the Wind,The Kingkiller Chronicle #1,Patrick Rothfuss (Goodreads Author),4.53,English,"['Fantasy', 'Fiction', 'Epic Fantasy', 'High F...",662,04/28/07,96.0,9.36
21087,Tuule nimi I raamat,"The Kingkiller Chronicle #1, Part 1 of 2","Patrick Rothfuss (Goodreads Author), Juhan Hab...",4.21,Estonian,"['Fantasy', 'Adventure', 'Fiction', 'Young Adu...",367,2008,93.0,NaN
2385,The Slow Regard of Silent Things,The Kingkiller Chronicle #2.5,"Patrick Rothfuss (Goodreads Author), Nate Tayl...",3.90,English,"['Fantasy', 'Fiction', 'Short Stories', 'High ...",159,October 28th 2014,89.0,9.58
16385,Doors of Stone,The Kingkiller Chronicle #3,Patrick Rothfuss (Goodreads Author),3.72,English,"['Fantasy', 'Fiction', 'Epic Fantasy', 'High F...",NaN,Published,73.0,NaN

#### Simple method to extract author

In [150]:
def extract_author(authors: str) -> str:
  author = authors.split(', ')[0]
  if "(" not in author:
    return author
  else:
    return author.split(' (')[0]

## Simplify authors

In [151]:
data_col_dropped["author"] = data_col_dropped["author"].apply(extract_author)
data_col_dropped

,title,series,author,rating,language,genres,pages,publishDate,likedPercent,price
0,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,09/14/08,96.0,5.09
1,Harry Potter and the Order of the Phoenix,Harry Potter #5,J.K. Rowling,4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",870,09/28/04,98.0,7.38
2,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,English,"['Classics', 'Fiction', 'Historical Fiction', ...",324,05/23/06,95.0,NaN
3,Pride and Prejudice,self-concluding,Jane Austen,4.26,English,"['Classics', 'Fiction', 'Romance', 'Historical...",279,10/10/00,94.0,NaN
4,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",501,09/06/06,78.0,2.1
...,...,...,...,...,...,...,...,...,...,...
52473,Fractured,Fateful #2,Cheri Schmidt,4.00,English,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",0,May 28th 2011,94.0,NaN
52474,Anasazi,Sense of Truth #2,Emma Michaels,4.19,English,"['Mystery', 'Young Adult']",190,August 5th 2011,95.0,NaN
52475,Marked,Soul Guardians #1,Kim Richardson,3.70,English,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",280,March 18th 2011,84.0,7.37
52476,Wayward Son,self-concluding,Tom Pollack,3.85,English,"['Fiction', 'Mystery', 'Historical Fiction', '...",507,September 1st 2011,90.0,2.86
52477,Daughter of Helaman,Stripling Warrior #1,Misty Moncur,4.02,English,"['Lds Fiction', 'Historical Fiction', 'Young A...",201,May 8th 2011,90.0,5.20

#### Simple method to clean series

In [152]:
def clean_series(series: str) -> str:
  if "#" in series:
    return series.split(' #')[0]
  return series

## Clean series

In [153]:
data_col_dropped["series"] = data_col_dropped["series"].apply(clean_series)
data_col_dropped

,title,series,author,rating,language,genres,pages,publishDate,likedPercent,price
0,The Hunger Games,The Hunger Games,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,09/14/08,96.0,5.09
1,Harry Potter and the Order of the Phoenix,Harry Potter,J.K. Rowling,4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",870,09/28/04,98.0,7.38
2,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,English,"['Classics', 'Fiction', 'Historical Fiction', ...",324,05/23/06,95.0,NaN
3,Pride and Prejudice,self-concluding,Jane Austen,4.26,English,"['Classics', 'Fiction', 'Romance', 'Historical...",279,10/10/00,94.0,NaN
4,Twilight,The Twilight Saga,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",501,09/06/06,78.0,2.1
...,...,...,...,...,...,...,...,...,...,...
52473,Fractured,Fateful,Cheri Schmidt,4.00,English,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",0,May 28th 2011,94.0,NaN
52474,Anasazi,Sense of Truth,Emma Michaels,4.19,English,"['Mystery', 'Young Adult']",190,August 5th 2011,95.0,NaN
52475,Marked,Soul Guardians,Kim Richardson,3.70,English,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",280,March 18th 2011,84.0,7.37
52476,Wayward Son,self-concluding,Tom Pollack,3.85,English,"['Fiction', 'Mystery', 'Historical Fiction', '...",507,September 1st 2011,90.0,2.86
52477,Daughter of Helaman,Stripling Warrior,Misty Moncur,4.02,English,"['Lds Fiction', 'Historical Fiction', 'Young A...",201,May 8th 2011,90.0,5.20

## Extract every author

In [154]:
authors = set()
for book in data_col_dropped.values:
  book_authors : str = book[2]
  for author in book_authors.split(', '):
    if "(" in author and "(Goodreads Author)" not in author:
      continue
    authors.add(author.removesuffix(" (Goodreads Author)"))
print(f'Total Authors: {len(authors)}')

Total Authors: 23195

## Simple example that show every book from a random author

In [155]:
from random import choice as rdc
author = rdc(list(authors))
print(author)
data_col_dropped[data_col_dropped["author"].str.contains(author, case=False, na=False)]

Box Brown

,title,series,author,rating,language,genres,pages,publishDate,likedPercent,price
40719,Andre the Giant: Life and Legend,self-concluding,Box Brown,3.66,English,"['Graphic Novels', 'Comics', 'Biography', 'Non...",240,May 6th 2014,91.0,8.44

### Drop every row that has some NaN or null features and filter books that are in English and from them, remove books that doesnt have any genre

In [156]:
data_NaN_dropped = data_col_dropped.dropna()
data_english_sorted = data_NaN_dropped[(data_NaN_dropped["language"] == "English")]
data_genres_not_empty = data_english_sorted[data_english_sorted["genres"].apply(lambda x: x.removeprefix('[').removesuffix(']') != '')]
data_genres_not_empty

,title,series,author,rating,language,genres,pages,publishDate,likedPercent,price
0,The Hunger Games,The Hunger Games,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,09/14/08,96.0,5.09
1,Harry Potter and the Order of the Phoenix,Harry Potter,J.K. Rowling,4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",870,09/28/04,98.0,7.38
4,Twilight,The Twilight Saga,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",501,09/06/06,78.0,2.1
5,The Book Thief,self-concluding,Markus Zusak,4.37,English,"['Historical Fiction', 'Fiction', 'Young Adult...",552,03/14/06,96.0,3.8
6,Animal Farm,self-concluding,George Orwell,3.95,English,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",141,04/28/96,91.0,4.42
...,...,...,...,...,...,...,...,...,...,...
52470,Attracted to Fire,self-concluding,DiAnn Mills,4.14,English,"['Christian Fiction', 'Christian', 'Suspense',...",416,October 1st 2011,95.0,5.55
52472,Unbelievable,Port Fare,Sherry Gammon,4.16,English,"['Romance', 'Young Adult', 'Contemporary', 'Co...",360,April 11th 2013,94.0,19.18
52475,Marked,Soul Guardians,Kim Richardson,3.70,English,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",280,March 18th 2011,84.0,7.37
52476,Wayward Son,self-concluding,Tom Pollack,3.85,English,"['Fiction', 'Mystery', 'Historical Fiction', '...",507,September 1st 2011,90.0,2.86
52477,Daughter of Helaman,Stripling Warrior,Misty Moncur,4.02,English,"['Lds Fiction', 'Historical Fiction', 'Young A...",201,May 8th 2011,90.0,5.20

#### Simple function made to extract the year from a date

In [157]:
def extract_year_from_date(date: str) -> str:
  if "/" in date:
    year = date[-2:]
    return f"20{year}" if int(year) < 24 else f"19{year}"
  else:
    if not date[-4:].isdecimal():
      return 'remove'
    return date[-4:]

## Create the column Publish Year and extract the year from Publish Date

In [158]:
data_genres_not_empty['publishYear'] = data_genres_not_empty['publishDate'].apply(extract_year_from_date)
data_genres_not_empty = data_genres_not_empty[data_genres_not_empty['publishYear'] != 'remove']
data_genres_not_empty = data_genres_not_empty[['title', 'series', 'author', 'language', 'genres', 'pages', 'publishDate', 'publishYear', 'rating', 'likedPercent', 'price']]
data_genres_not_empty

C:\Users\victo\AppData\Local\Temp\ipykernel_35264\3849870303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_genres_not_empty['publishYear'] = data_genres_not_empty['publishDate'].apply(extract_year_from_date)

,title,series,author,language,genres,pages,publishDate,publishYear,rating,likedPercent,price
0,The Hunger Games,The Hunger Games,Suzanne Collins,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,09/14/08,2008,4.33,96.0,5.09
1,Harry Potter and the Order of the Phoenix,Harry Potter,J.K. Rowling,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",870,09/28/04,2004,4.50,98.0,7.38
4,Twilight,The Twilight Saga,Stephenie Meyer,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",501,09/06/06,2006,3.60,78.0,2.1
5,The Book Thief,self-concluding,Markus Zusak,English,"['Historical Fiction', 'Fiction', 'Young Adult...",552,03/14/06,2006,4.37,96.0,3.8
6,Animal Farm,self-concluding,George Orwell,English,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",141,04/28/96,1996,3.95,91.0,4.42
...,...,...,...,...,...,...,...,...,...,...,...
52470,Attracted to Fire,self-concluding,DiAnn Mills,English,"['Christian Fiction', 'Christian', 'Suspense',...",416,October 1st 2011,2011,4.14,95.0,5.55
52472,Unbelievable,Port Fare,Sherry Gammon,English,"['Romance', 'Young Adult', 'Contemporary', 'Co...",360,April 11th 2013,2013,4.16,94.0,19.18
52475,Marked,Soul Guardians,Kim Richardson,English,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",280,March 18th 2011,2011,3.70,84.0,7.37
52476,Wayward Son,self-concluding,Tom Pollack,English,"['Fiction', 'Mystery', 'Historical Fiction', '...",507,September 1st 2011,2011,3.85,90.0,2.86
52477,Daughter of Helaman,Stripling Warrior,Misty Moncur,English,"['Lds Fiction', 'Historical Fiction', 'Young A...",201,May 8th 2011,2011,4.02,90.0,5.20

In [159]:
data_genres_not_empty = data_genres_not_empty[data_genres_not_empty['pages'] != '1 page']

In [160]:
def clean_price(price: str) -> str:
  if price.count('.') > 1:
    parts = price.split('.')
    return ''.join(parts[:-1]) + '.' + parts[-1]
  return price

In [161]:
data_genres_not_empty['price'] = data_genres_not_empty['price'].apply(clean_price)

C:\Users\victo\AppData\Local\Temp\ipykernel_35264\54067852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_genres_not_empty['price'] = data_genres_not_empty['price'].apply(clean_price)

In [168]:
# data_clean = data_genres_not_empty.copy()
data_clean = data_genres_not_empty.head(50)
data_clean = data_clean.sample(frac=1).reset_index(drop=True)
data_clean = data_clean.drop("language", axis=1)
data_clean.to_csv('BestBooksEverClean.csv', index=None)

In [169]:
data_to_train = data_clean.drop("publishDate", axis=1)
data_to_train.to_csv('BestBooksEverClean_train_dataset.csv', index=None)